source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget Paket.Core >= 2.23.0
nuget FSharp.Core

github fsharp/FAKE modules/Octokit/Octokit.fsx
